server:
  port: ${env.PORT}

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${env.JDBC_DATABASE_URL}
    username: postgres
    password: postgres
  jpa:
    properties:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        show_sql: true
        format_sql: true
        generate_statistics: true
        default_schema: health_tracker